<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for producto in productos %}
        <p>{{producto.idproductos}} {{producto.nombreProducto}} {{producto.precioProducto}} <a href="http://127.0.0.1:5000/vender/{{producto.idproductos}}">vender</a></p>
        <ul>
            {% for ingrediente in producto.ingredientes %}
            <li> {{ingrediente.nombreIngrediente}} </li>
            {% endfor %} 
        </ul>
    {% endfor %}    
</body>
</html>